<div>
    <h2>Bienvenido {{firstname}}</h2>
</div>
<div>
    <ul>
        <li>First Name: {{firstname}}</li>
        <li>Last Name: {{lastname}}</li>
        <li>Email: {{email}}</li>
    </ul>
    <img src="{{picture}}"></img>
</div>
<hr />
<a href="/">Home (you will be redirected here, cause you are already signed-in)</a> | <a href="/api/linkedin/logout">Logout</a>